.container{
    background-color: rgb(216, 216, 212);
}
#badge{
    background-color: blue;
    color: white;
}

.me{
    height: 280px;
    width: 200px;
    margin: 10px auto;  
    display: grid;
    background:rgb(166, 183, 193);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
  border-radius: 10px 10px 10px;
  box-shadow: 10px 10px 10px 10px;
}

.desc{
    padding: 10px 10px 10px 10px;
}
img{
    width: 150px;
    height: 100px;
    padding: 20px 20px 20px 20px;
    border-radius: 100%;

}
button{
    width: 90px;
    color: white;
    background:rgb(33, 67, 234);
    text-align: center;
    position: relative;
    bottom: 11px;
}

button:hover{
background-color: darkblue;
}
